body{
    background-color: lightgray;
    text-align: center;
    margin-top: 150px;

}
#timer {
    font-family: "Lato";
    font-size: 50px;
}

button {
    width: 100px;
    height: 35px;
}

button:hover {
    cursor: pointer;
}